@model VR_escape_rooms.modeli.Rezervacija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (User.IsInRole("User"))
        {
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IgraID" class="control-label"></label>
                    <select asp-for="IgraID" class="form-control" asp-items="ViewBag.IgraID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DatumRezervacije" class="control-label"></label>
                    <input asp-for="DatumRezervacije" class="form-control" />
                    <span asp-validation-for="DatumRezervacije" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <p class="text-danger">Only logged-in users can make reservations.</p>
        }
    </div>
</div>

<!-- <div>
    <a asp-action="Index">Back to List</a>
</div> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
